<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet for Volby Core API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Voice commands -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Speech recognition service -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>

        <!-- Apps Volby can launch -->
        <package android:name="com.google.android.youtube" />
        <package android:name="com.android.chrome" />
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.spotify.music" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.discord" />
        <package android:name="com.twitter.android" />
        <package android:name="com.pinterest" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.flipkart.android" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.application.zomato" />
        <package android:name="in.swiggy.android" />
    </queries>

    <application
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="Volby Core"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>